<%# <h1>Here are details of a user</h1> %>
<div class='user-data'>
    <div class="image-box">
        <%= image_tag(@user.photo, class: "user-image") %>
    </div>
    <div class='details-box'>
        <p class='user-name'>
            <%= @user.name %>
        </p>
        <p class='no-of-posts'>
            Number of posts: <%= @user.posts_counter %>
        </p>
    </div>
</div>

<%# user bio %>

<div class='user-bio'>
    <p class='bio-title'>Bio</p>
    <p class='bio-details'>
        <%= @user.bio %>
    </p>
</div>

<%# user posts %>

<div class='user-posts'>
    <p class='post-title'>Post</p>
    <p class='post-details'>lorem</p>
</div>
