/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 20px 40px;
}

.user-data {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 20px;
}

.image-box {
  height: 125px;
  width: 125px;
  background: #219ebc;
}

.user-image {
  height: 100%;
  width: 100%;
}

.details-box {
  border: 1px solid black;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-name {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  align-self: center;
}

.no-of-posts {
  margin: 0;
  align-self: flex-end;
}

a {
  text-decoration: none;
  color: black;
}

.user-bio {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 15px;
}

.user-posts {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 5px;
}

.bio-title,
.post-title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.bio-details,
.post-details {
  margin: 15px 0 0 0;
}

.comments-and-likes {
  text-align: end;
  margin: 0;
  font-size: small;
}

.posts-button,
.pagination {
  text-align: center;
}

.view-posts-button,
.pagination-button {
  border-radius: 5px;
  width: 110px;
  height: 40px;
  border: 1px solid gray;
}

.comments-section {
  border: 1px solid black;
  margin-bottom: 15px;
  padding: 10px;
}

.comments-section p {
  margin: 0;
}

.post-data {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 5px;
}

.post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}

.post-header p {
  margin: 0;
}

.base {
  align-self: flex-end;
}

#form {
  width: 500px;
  margin: auto auto;
}

.add-post-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-post-form label {
  font-weight: bold;
}

.like-comment {
  display: flex;
  gap: 10px;
}

.add-comment-btn {
  height: 40px;
  width: 70px;
  padding: 5px;
  background-color: rgb(221, 218, 218);
  border: 1px solid black;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-field {
  width: 300px;
}

.login-button {
  width: 305px;
}
